.crud-flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-action{
    margin-bottom: 40px;
}

.pagination{
    display: flex;
    justify-content: space-around;
    background-color: #29b6f6 !important;
    max-width: 100%;
}

nav, .pagination li{
    background-color: #29b6f6 !important;
}

.card{
    margin:auto 0 5px !important;
}

#add{
    margin-bottom: 5px !important;
}

.card h2{
    padding-top: 15px !important;
}

flex-crud:not(#fight-flex) .card-content{
    min-height: 120px;
}

#flex .card .card-content span{
    min-height: 64px;
    
}

#teams .card .card-content{
    min-height: 182px;
    
}

.card-image{
    border-bottom: 1px solid rgba(160,160,160,0.2);
}